<%- include ('../partials/header.ejs') -%>

  <h1>Pessoas</h1>
  <p><a href="/people/create">Nova Pessoa</a></p>

  <table class="table table-striped table-houver table-border">
    <tr>
      <th>Nome</th>
      <th>Data Nascimento</th>
      <th>Cargo</th>
      <th>Ações</th>
    </tr>
    <% people.map( people => { %>
      <tr>
        <td><%= people.name %></td>
        <td><%= people.birthDate %></td>
        <td><%= people.occupation %></td>
        <td>
          <div class="btn-group" role="group">
            <a href="/people/edit/<%= people.id %>" class="btn btn-default">Editar</a>
            <a href="/people/delete/<%= people.id %>" class="btn btn-default">Excluir</a>
          </div>
        </td>
      </tr>
    <% }) %>
    
  </table>
  

<%- include ('../partials/footer.ejs') -%>